body,html {
  width: 100%;
}
.workcard{
  width: 100%;
  margin-bottom: 2rem;
  padding: 0 2rem;
}
.aboutHead{
  text-align: center;
  padding: 1rem 0;
}

.projCon{
  width: 100%;
  max-width: 1150px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
 gap: 5rem;
}

.projCard{
  background: #1a1919;
  padding: 1.2rem 1rem;
 
}

.projCard img{
  width: 100% 
}

.projT{
  color:#fff;
  padding: 1rem;
}
.projDel{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projDel p{
  padding-bottom: 1rem;
  font-size: 1.1rem;
  text-align:center;
  margin-bottom: 1.5rem;
}



@media screen and (max-width:1024px) {
  .projCon{
    max-width: 90%;
    margin: auto;
    grid-template-columns: repeat(2,1fr);

  }
  
}
@media screen and (max-width:640px) {
  .projCon{
    max-width: 90%;
    margin: auto;
    grid-template-columns: 1fr;

  }
  .workcard{
    padding: 0 .5rem;
  }
}