
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 10;
}
.header-bg{
  background-color: rgba(0, 0, 0, 0.85);
  transition: 0.5s;

}


.nav-menu{
  display: flex;
}

.nav-menu li{
  padding: 0 1rem;
}
.nav-menu li a:hover{
  color: gold;
  border-bottom: 2px solid grey;
  padding-bottom: .3rem;
  transition: .2s;
}

.nav-menu li a{
  font-size: 1.2rem;
  font-weight: 500;
}

.ham{
  display: none;
}


@media screen and (max-width:1040px) {
  .nav-menu{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100vh;
    background: rgba(141, 159, 172, 0.954);
    position: absolute;
    top: 0;
    right: -100%;
    z-index: -5;
    transition: 0.3s;
  } 
  .header{
    justify-content: space-around;
  }
  .nav-menu.active{
    right: 0;
  }

  .nav-menu li{
    padding: 1rem 0;
  }

  .nav-menu li a {
    font-size: 2rem;
  }

  .ham{
    display: initial;
  }
}

@media screen and (max-width:768px) {
.header{
  justify-content: space-around;
}
.sign{
  width: 300px;
  height: 150px;
}
.sign img{
  width: 100%;
  height: 100%;
}
}

@media screen and (max-width:375px) {
  .sign{
    width: 280px;
    height: 150px;
  }
  .sign img{
    width: 100%;
    height: 100%;
  }
  }