.aboutMain{
  width: 100%;
  margin: 1rem 0;
  height: 100%;
}
.Head{
  text-align: center;
}
.Head h1{
  color: gold;

}
.new{
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}

.aboutMain .al{
  text-align: center;
  padding: 1rem;
  max-width: 350px;
 
}

.aboutMain .al p{
  margin: 1.2rem 0;
}


.ar img{
  width: 350px;
  height: 350px;
  border-radius: 100%;
  object-fit: cover;
  object-position:0px 0px;
  box-shadow: 2.5px 5px 50px 3px #80e79d72;

}

@media screen and (max-width:768px){
  .about{
   flex-direction: row;
   flex-wrap: wrap-reverse;
  }
.new{
  flex-direction: column-reverse;
  align-items: center;
}
  .ar img{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    object-fit: cover;
    object-position:0px 0px;
  }
}

@media screen and (max-width:426px){
  .aboutMain{
   flex-direction: row;
   flex-wrap: wrap-reverse;
  }
  .ar img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    object-fit: cover;
    object-position:0px 0px;
  }
}


@media screen and (max-width:350px){
  .aboutMain{
   flex-direction: row;
   flex-wrap: wrap-reverse;
  }

  .ar img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
    object-position:0px 0px;
  }
}