.footer{
    padding: 4rem 0; 
    background-color: rgba(20, 20, 20, 0.9);
}

.footerCon{
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  

}  

.leftFoot{
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-left: 4rem3e;
}

.loc{
  display: flex;
  margin-bottom: 1rem;
}

.loc p{
  line-height: 30px;

}

.rightFoot{
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 8rem;
}

.media{
  margin-top: 1.5rem;
}

h4{
  font-size: 1.2rem;
  padding-bottom:1rem;
}

p{
  font-size: 1.2rem;
}


.copyrights p {
  text-align: center;
  background-color: #fff;
  color: var(--Black-color2);
  font-family: var(--Alata-Font);
  font-size: 1.2rem;
 padding: 0.3rem  ;
  position: sticky;
  
  bottom: 0;
  width: 100%;
}

@media screen and (max-width:640px) {
  .footerCon{
    grid-template-columns: 1fr;
  }
  
}