.mask{
  width: 100%;
  height: 100vh;
  position: relative;
}

.banimg{
  width: 100%;
  height: 130%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  
}

.mask::after{
  content: "";
  width:100%;
  height: 130%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;

}

.banner{
  height: 100%;
  width: 100%;
}

.content{
  position: relative;
  transform: translate(-50%,-150%);
  top: 0;
  left: 50%;
  text-align: center;
}

.banner .content h1{
  font-size: 3.5rem;
  padding: 0.6rem 0 1.5rem;
}


.banner .content h2{
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

.content .btn{
  margin: 1rem 0.2rem;
}

.twobtn{
  margin-top: 3rem;
}

.twobtn .btn{
  margin-right: 3rem;
}

@media screen and (max-width:640px) {
  .banner .content h2{
    font-size: 2rem;
  }

  .banner .content h1{
    font-size: 2rem;
  }  
}


